.header {
  background-color: white;
  height: 60px;
  width: auto;
  margin-top: 4.5%;
}

.img {
  margin-top: -0.15%;
  left: 5.3%;
  width: 6.85%;
  height: auto;
  position: absolute;
}

.img1 {
  position: absolute;
  width: 6.6%;
  height: auto;
  right: 8.75%;
}

.txt1 {
  margin-top: 2%;
  margin-left: 12.5%;
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: Calibri;
  position: absolute;
}

.txt2 {
  margin-top: 5.4%;
  margin-left: 12.65%;
  color: orange;
  font-size: 22px;
  font-weight: bold;
  font-family: Calibri;
  position: absolute;
}

.nav2 {
  position: static;
  margin-top: 4%;
  background-color: #202c45;
  width: 100%;
  height: 51px;
}

.ul1 {
  margin-left: 9.5%;
  padding-top: 1.2%;
  padding-left: 2.5%;
}
.li1 {
  display: inline;
}

.li1link {
  padding-inline-start: 1%;
  padding-inline-end: 1%;
  color: aliceblue;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.banner{
  height: 300px;
}

.about_faculty{
  position: static;
  margin-top: 0.2%;
  background-color:#364157;
  width: 100%;
  height: 380px;
}

.about txt{
  width: 50%;
  padding-left: 20%;
}

.txt3{
  margin-bottom: 0%;
  padding-block-start: 4%;
  padding-left: 5%;
  color: rgb(211, 211, 211);
  font-weight: 400;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.txt4{
  margin-top: 0%;
  padding-top: 2%;
  padding-bottom: 10%;
  width: 45%;
  text-align: justify;
  line-height: 23px;
  padding-left: 5%;
  color: rgb(211, 211, 211);
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.about_img{
  margin-top: -420px;
  position: absolute;
  margin-left: 50%;
}