* {
  padding: 0%;
  margin: 0%;
}

.blue-nav {
  background-color: #0098db;
  padding: 1%;
  display: flex;
}

.blue-nav ul {
  display: flex;
  list-style-type: none;
}

.blue-nav ul li {
  color: white;
}

.blue-nav ul li a {
  text-decoration: none;
  color: white;
}

.nav-links {
  margin-left: 4%;
  display: flex;
  align-items: center;
}

.nav-icons {
  display: flex;
  margin-left: auto;
  margin-right: 4%;
}

.nav-icons ul li {
  padding: 0 1.5vw;
}

.logo-line {
  display: flex;
  padding: 1% 0%;
  align-items: center;
}

.mslogo {
  display: flex;
  margin-left: 5%;
}

.mslogo img {
  width: 7vw;
  height: auto;
}

.mstitle {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

.mstitle h1 {
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 600;
}

.naaclogo {
  display: flex;
  margin-left: auto;
  margin-right: 8%;
}

.naaclogo img {
  width: 7vw;
  height: auto;
}

.nav-2 {
  background-color: #202c45;
  padding: 1% 0;
  display: flex;
  justify-content: center;
}

.nav-2 ul {
  display: flex;
  list-style-type: none;
}

.nav-2 ul li {
  color: white;
  padding: 0 1.2vw;
}

.main-content1 {
  padding-bottom: 0% 3%;
}

.li-img-li {
  display: flex;
  /* justify-items: center; */
  justify-content: space-between;
}

.main-img {
  display: flex;
  justify-self: center;
}

.main-img img {
  max-width: 100%;
  max-height: 330px;
}

.sli-left,
.sli-right {
  background-color: #0098db;
  display: flex;
  padding: 0% 3%;
}

.sli-left ul,
.sli-right ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.sli-left ul li,
.sli-right ul li {
  margin: 4% 0;
  padding: 4% 0;
  border-bottom: 1px solid #5f5d5d;
}

.sli-left ul li a,
.sli-right ul li a {
  text-decoration: none;
  font-size: large;
  color: white;
}

.sli-right ul {
  margin-left: auto;
}

.many-btn-container {
  display: flex;
  padding: 0% 10%;
  justify-content: space-between;
  margin: 2% 0;
}

.many-btn-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
  justify-items: center;
  display: block;
  width: 150px;
}

.c1 ul li,
.c2 ul li,
.c3 ul li,
.c4 ul li,
.c5 ul li,
.c6 ul li {
  border-style: none;
  border-radius: 5px;
  margin: 5% 0;
  display: flex;
  justify-content: center;
}

.c1 ul li {
  background-color: #da670f;
}

.c2 ul li {
  background-color: #a01f40;
}

.c3 ul li {
  background-color: #d72b2b;
}

.c4 ul li {
  background-color: #48cfad;
}

.c5 ul li {
  background-color: #777293;
}

.c6 ul li {
  background-color: #ef6f56;
}

.c1 ul li a,
.c2 ul li a,
.c3 ul li a,
.c4 ul li a,
.c5 ul li a,
.c6 ul li a {
  font-size: medium;
  color: white;
  text-decoration: none;
  padding: 4% 2%;
  display: flex;
}

.mdul {
  display: flex;
  align-items: center;
}

.mdul li a {
  color: white;
  text-decoration: none;
  display: flex;
}

.txt-img-sec2 {
  background-color: rgba(32, 44, 69, 0.9);
  display: flex;
}

.txt-img-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5%;
}

.txt-2 {
  margin-top: -10%;
  margin-right: 5%;
}

.txt-2 h3 {
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
}

.txt-2 h4 {
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.txt-2 p {
  color: white;
  font-size: 1.2vw;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.news-event-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% 5%;
}

.newsdiv {
  font-size: x-large;
  display: flex;
  /* max-width: 50%; */
  flex-direction: column;
}

.nd-title {
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  margin-bottom: 2%;
}

.nd-title-vbtn {
  display: flex;
  padding: 5px;
  align-items: center;
}

.nd-title a {
  text-decoration: none;
  font-size: small;
  color: white;
}

.eventdiv {
  font-size: x-large;
  display: flex;
  flex-direction: column;
}

.ed-title {
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  margin-bottom: 2%;
}
.ed-title a {
  text-decoration: none;
  font-size: small;
  color: white;
}

.nd-tabs {
  display: flex;
  /* max-width: fit-content; */
  padding: 2% 0%;
  margin: 2% 0%;
  max-width: 534px;
  border-left: 5px solid #0098db;
}

.ndn-img {
  padding: 1% 2%;
}

.ndn-img img {
  width: 120px;
  height: 150px;
}

.ndn-txt {
  color: #5f5d5d;
  max-width: 50%;
}

.ndn-txt p a {
  text-decoration: none;
  color: #5f5d5d;
  font-size: large;
  text-align: justify;
}

.ed-tabs {
  display: flex;
  flex-direction: column;
  padding: 4% 2%;
  margin: 2% 0%;
  max-width: 534px;
  border-left: 5px solid #0098db;
}

.edc-ul li {
  display: inline;
  max-width: max-content;
  padding: 1%;
  margin-right: 1%;
}

.count-sec {
  display: flex;
  flex-direction: column;
  background-color: rgba(32, 44, 69, 0.9);
  padding: 0% 10%;
}

.count-sec-div1 {
  display: flex;
  justify-content: space-around;
}

.csd1 {
  display: flex;
  color: white;
  padding: 2% 5%;
  justify-content: space-around;
}

.csd1sub1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.csd1sub1 h2 {
  font-size: x-large;
}

.csd1sub1 h5 {
  font-size: small;
}

.our-acdmcs-div {
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.oa-cat-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.oa-cat-ul li {
  padding: 2% 2%;
}

.oa-cat-ul li a {
  text-decoration: none;
  color: black;
}

.oa-gallery {
  display: flex;
  justify-content: space-evenly;
}

.oagd1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.oagd1 img {
  width: 270px;
  height: 170px;
}

.oagd1 a {
  text-decoration: none;
  color: black;
}

.vid-sec-div {
  background-color: rgba(32, 44, 69, 0.9);
  display: flex;
  align-items: center;
  padding: 2% 2%;
}

.vid-div {
  display: flex;
  padding-right: 2%;
}

.vid-div video {
  width: 620px;
  height: 340px;
}

.txt-div6 h3 {
  color: #5f5d5d;
  font-size: x-large;
  margin-bottom: 1%;
}

.txt-div6 h4 {
  text-transform: uppercase;
  color: white;
  font-size: x-large;
  margin-bottom: 2%;
}

.txt-div6 p {
  color: white;
  margin-bottom: 2%;
}

.txt-div6 a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 1% 1%;
}

.notif-title {
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  margin-bottom: 2%;
}

.notif-title-vbtn {
  display: flex;
  padding: 5px;
  align-items: center;
}

.notif-title a {
  text-decoration: none;
  font-size: small;
  color: white;
}

.notif-circ-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% 5%;
}

.notif-div,
.circ-div {
  font-size: x-large;
  display: flex;
  /* max-width: 50%; */
  flex-direction: column;
}

.notif-tabs {
  display: flex;
  flex-direction: column;
  padding: 4% 2%;
  margin: 2% 0%;
  /* max-width:534px; */
  border-left: 5px solid #0098db;
  color: #5f5d5d;
}

.nct-ul li {
  display: inline;
  max-width: max-content;
  padding: 1%;
  margin-right: 1%;
  font-size: medium;
}

.notif-tabs p a {
  text-transform: uppercase;
  text-decoration: none;
  color: #5f5d5d;
  font-size: large;
  text-align: justify;
}

.social-sec-div {
  padding: 2% 5%;
  display: flex;
  justify-content: space-evenly;
}

.fb-div,
.twt-div {
  font-size: x-large;
  width: 50%;
}

.fb-div i,
.twt-div i {
  color: #5f5d5d;
}

.footer-log-div {
  background-color: rgba(17, 17, 17, 0.9);
  display: flex;
  justify-content: space-evenly;
  padding: 2% 4%;
}

.logo-2 img {
  max-width: 100%;
  vertical-align: middle;
}

.addr-3 h4 {
  color: white;
  font-size: large;
  margin-bottom: 20px;
}

.addr-3 p {
  margin-bottom: 10px;
}

.addr-ul1 {
  list-style: none;
}

.addr-ul1 li {
  display: flex;
  margin-bottom: 2%;
}

.addr-ul1 li i {
  color: #0098db;
}

.addr-ul1 li a {
  text-decoration: none;
  color: #808080;
}

.addr-ul2 {
  list-style: none;
  display: flex;
}

.addr-ul2 li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  width: 30px;
  height: 30px;
  border: 1px solid #808080;
}

.addr-ul2 li a {
  text-decoration: none;
  color: #808080;
}

.links-4 h4 {
  color: white;
  font-size: large;
  margin-bottom: 20px;
}

.link-ul1 {
  list-style: none;
}

.link-ul1 li {
  display: flex;
  margin-bottom: 12%;
  border-bottom: 1px dashed #808080;
}

.link-ul1 li i {
  color: #0098db;
}

.link-ul1 li a {
  text-decoration: none;
  color: #808080;
}

.whrs-5 h4 {
  color: white;
  font-size: large;
  margin-bottom: 20px;
}

.whrs-ul1 {
  list-style: none;
}

.whrs-ul1 li {
  display: flex;
  margin-bottom: 2%;
  border-bottom: 1px dashed #808080;
}

.ft-cprt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2% 0%;
  background-color: rgba(17, 17, 17, 1);
}

.txt-line-1 {
  font-size: medium;
  color: #808080;
}

.links-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-2 ul {
  list-style: none;
}

.links-2 ul li {
  display: inline;
  margin-right: 1%;
}

.links-2 ul li a {
  font-size: medium;
  text-decoration: none;
  color: #808080;
}
